

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
pandas = "*"
google-cloud-bigquery = {extras = ["pandas"], version = "*"}
SQLAlchemy = "1.4.41"
[dev-packages]

[requires]
python_version = "3.8"
